<% @products.each do |product| %>
  <p><%= product.name %>, <%= product.description %>, <%= product.formatted_price %> <%= link_to "Show", product_url(product) %></p>

<% end %>

<div id="products">
  <%= render @products %>
</div>